:root {
    --primary: #3336FF; 
    --secondary: #0ca17038;
    --third: #5a5a5a3a;
    --wordsw: white;
    --wordsb: black;
    --welcome: 'Indie Flower', cursive;
    --welcometitle: #ff893a;
    --name: 'Ranchers', cursive;
  }